nb-configuration.xml
target/
/XYZDrivers/nbproject/private/
/XYZDrivers/build/
/XYZDrivers/XYZDrivers/src/main/resources/connection.properties
XYZDrivers/src/main/resources/connection.properties
node_modules/
.idea/*
