<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AuthController</servlet-name>
        <servlet-class>com.xyzdrivers.controllers.AuthController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClaimsController</servlet-name>
        <servlet-class>com.xyzdrivers.controllers.ClaimsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MembershipController</servlet-name>
        <servlet-class>com.xyzdrivers.controllers.MembershipController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>com.xyzdrivers.controllers.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentController</servlet-name>
        <servlet-class>com.xyzdrivers.controllers.PaymentController</servlet-class>

        <servlet-name>HomeController</servlet-name>
        <servlet-class>com.xyzdrivers.controllers.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpgradeMemberController</servlet-name>
        <servlet-class>com.xyzdrivers.controllers.UpgradeMemberController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthController</servlet-name>
        <url-pattern>/api/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClaimsController</servlet-name>
        <url-pattern>/api/claim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MembershipController</servlet-name>
        <url-pattern>/api/member</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpgradeMemberController</servlet-name>
        <url-pattern>/upgrademember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentController</servlet-name>
        <url-pattern>/api/payment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
